<form class="container-fluid wrapper">
  <h3>{{'settings.userProfile.title'|translate}}</h3>
  <mat-form-field>
    <input matInput type="text" [placeholder]="'settings.userProfile.displayName'|translate">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" [placeholder]="'settings.userProfile.email'|translate">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" [placeholder]="'settings.userProfile.password'|translate" readonly="true">
    <mat-icon matSuffix [matTooltip]="'settings.userProfile.changePasswordTooltip'|translate" class="toggle">key</mat-icon>
    <mat-hint>{{'settings.userProfile.changePasswordHint'|translate}}</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">{{'buttons.save'|translate}}</button>
</form>
