:host{
  width: 100%;
  padding-top: 1em;
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.toggle{
  cursor: pointer;
}

.actions{
  padding: 0 1em;
}

.action-button-1{
  margin-bottom:0.5em;
}

.action-button-2{
  margin-top:0.5em;
  margin-bottom:0.5em;
}

.change-password-text{
  padding-left: 0.5em;
}
