<ng-container *ngIf="!isEdited">
  <td class="d-none d-md-table-cell">
    <span>{{fix.lastUpdate | date:'dd.MM.yyyy'}}</span>
  </td>
  <td>
    <span>{{fix.mileage | number: '1.0'}} km</span>
  </td>
  <td>
    <span class="long-text">{{fix.description}}</span>
  </td>
  <td>
    <div class="fix-action-column">
      <app-icon-button (click)="onRemove()">
        <i class="fas fa-minus cancel"></i>
      </app-icon-button>
      <app-icon-button (click)="onEdit()">
        <i class="fas fa-pen edit"></i>
      </app-icon-button>
    </div>
  </td>
</ng-container>
<ng-container *ngIf="isEdited">
  <td class="td-vertical-top d-none d-md-table-cell">
    <span>{{fix.lastUpdate | date:'dd.MM.yyyy'}}</span>
  </td>
  <td class="td-vertical-top">
    <input [(ngModel)]="mileage" placeholder="km" min="0" type="number" class="full-width-input">
  </td>
  <td class="td-vertical-top">
    <textarea [(ngModel)]="description" placeholder="description" type="text" class="full-width-input text-area-margin"></textarea>
  </td>
  <td>
    <div class="fix-action-column">
      <app-icon-button (click)="onCancel()">
        <i class="fas fa-ban cancel"></i>
      </app-icon-button>
      <app-icon-button (click)="onSave()">
        <i class="fas fa-save"></i>
      </app-icon-button>
    </div>
  </td>
</ng-container>
