td {
  border-bottom: 1px solid #ddd;
  vertical-align: top;
}

.full-width-input {
  width: 100%;
  margin: 0;
  border: 1px solid lightgray;
}

.full-width-input inout {
  max-height: 2em;
}

.text-area-margin {
  padding: 0.2em 0.5em;
  white-space: nowrap;

}

.long-text {
  white-space: break-spaces;
}

.cancel {
  color: red;
  margin-right: 0.2em;
}

.edit {
  color: cornflowerblue;
}

.fix-action-column {
  display: flex;
  align-content: center;
  justify-content: flex-end;
}
