<div *ngIf="(car)" style="padding-top: 70px;">
  <h2>CAR</h2>
  <div *ngIf="isNew">
    <label for="name">Licence plate: </label>
    <input id="name" [(ngModel)]="car.licencePlate" placeholder="licence plate"
      (ngModelChange)="car.licencePlate = $event.toUpperCase()">
  </div>

  <div *ngIf="!isNew">
    <h3>SPZ: {{car.licencePlate | uppercase}}</h3>
  </div>
  <div>
    <label for="name">Brand: </label>
    <input id="name" [(ngModel)]="car.brand" placeholder="brand">
  </div>
  <div>
    <label for="name">Model: </label>
    <input id="name" [(ngModel)]="car.model" placeholder="model">
  </div>
  <app-fixes *ngIf="!isNew" [car]="car"></app-fixes>
  <button type="button" (click)="goBack()">Go back</button>
  <button type="button" (click)="save(car)">Save</button>
</div>