<form class="container-fluid wrapper" [formGroup]="forgotPasswordForm" #formDirective="ngForm">
  <h3>Reset Password</h3>
  <p class="text-center">Please enter your email address to request a password reset.</p>
  <mat-form-field>
    <input matInput type="email" class="formControl" placeholder="Email Address" aria-describedby="email" formControlName="email" id="email">
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && !forgotPasswordForm.get('email')?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
      Email is required
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" class="reset-button col-6 offset-3" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
  <span>Go back to <a routerLink="../sign-in">Sign In</a></span>
</form>

