:host {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
  background: wheat;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.title .caption {
  font-size: 1.5em;
  padding-left: 0.5em;
  margin-right: 1em;
}

.title .version {
  font-size: 1em;
  color: lightgray;
}

i {
  font-size: 1.5em;
  border-radius: 0.3em;
  padding: 0.5em;
  width: 2em;
}

.clickable {
  cursor: pointer;
  text-align: center;
  vertical-align: center;
}

.clickable:hover {
  background: lightgray;
}
