:host {
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
}

.title {
  flex-grow: 1;
  padding-left: 10px;
}

.no-flex {
  flex-grow: 0;
  font-size: 2em;
  max-height: 50px;
}

.nav-link{
  cursor: pointer;
}