<div class="wrapper">
  <form class="d-flex flex-column" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <h3>Sign In</h3>
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <mat-checkbox [checked]="autoLogin" name="autologin">
      Remember
    </mat-checkbox>
    <button mat-raised-button color="primary" type="submit">Sign in</button>
    <a class="sign-in-forgot-link" routerLink="../forgot-password">Forgot Password?</a>
  </form>
</div>
