<mat-toolbar>
  <button *ngIf="backAction" mat-icon-button [routerLink]="backAction.route">
    <mat-icon>{{backAction.icon}}</mat-icon>
  </button>
  <span>Car fix tracker</span>
  <span class="spacer"></span>
  <ng-container *ngFor="let action of actions">
    <button mat-icon-button [routerLink]="action.route" queryParamsHandling="merge" [queryParams]="action.queryParams">
      <mat-icon *ngIf="!action.color">{{action.icon}}</mat-icon>
      <mat-icon *ngIf="action.color" [color]="action.color">{{action.icon}}</mat-icon>
    </button>
  </ng-container>
  <button mat-icon-button (click)="authService.signOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div class="main-layout-content ">
  <router-outlet></router-outlet>
</div>
