<div class="container-fluid search-panel">
  <div class="row">
    <mat-form-field class="col-12 col-md-6 col-lg-4 offset-md-3 offset-lg-4">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" placeholder="Enter part of licence plate"
             (ngModelChange)="onSearchInputChanged($event)"
             autofocus>
    </mat-form-field>
  </div>
  <div class="d-flex flex-row flex-wrap col-12 col-md-10 offset-md-1 col-lg-10 offset-lg-1 justify-content-center">
    <mat-card *ngFor="let car of cars" (click)="navigate(car.key)" class="car-card">
      <mat-card-title-group>
        <mat-card-title>{{car.licencePlate}}</mat-card-title>
        <mat-card-subtitle>{{car.brand}}</mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>{{car.model}}</mat-card-content>
      <mat-card-footer>{{car.getLastMileage() | number}} km</mat-card-footer>
    </mat-card>
    <ng-container *ngIf="!cars || cars.length===0">
      <div class="not-found">
        NO CARS FOUND<!--      TODO icon and text-->
      </div>
    </ng-container>
  </div>
</div>

