<div class="container">
  <div class="row search-panel">
    <mat-form-field class="col-11">
      <input matInput type="text" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" placeholder="Enter part of licence plate"
             (ngModelChange)="onSearchInputChanged($event)"
             autofocus>
      <span matSuffix><i class="fas fa-search"></i></span>
    </mat-form-field>
    <div class="icon-button col-1" (click)="addNew()">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  <div class="row">
    <app-car-list-item class="col-12 col-md-6 col-lg-4" *ngFor="let car of cars" [car]="car" (click)="navigate($event)"></app-car-list-item>
  </div>
</div>

