.badge {
    display: inline-block;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .btn {
    width: 50%;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 0;
    background: #2467d4;
    color: #ffffff;
    cursor: pointer;
    outline: none;
  }