<mat-drawer-container class="edit-table-drawer-container menu-settings-drawer-container">
  <mat-drawer mode="over" position="end"
              [opened]="isDrawerOpened"
              disableClose="true">
    <section class="table-update">
      <form class="d-flex flex-column"
            [formGroup]="menuItemForm"
            (ngSubmit)="updateTableData()"
            #formDirective="ngForm">
        <h3 class="table-update__header">{{(isNewRowBeingAdded ? 'settings.menu.addTitle' : 'settings.menu.editTitle')|translate}}</h3>
        <mat-form-field>
          <input matInput formControlName="name" aria-describedby="name" [placeholder]="'settings.menu.name'|translate" #nameInput>
          <mat-hint>{{nameInput.value | translate}}</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="route" aria-describedby="route" [placeholder]="'settings.menu.route'|translate">
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="icon" aria-describedby="icon" [placeholder]="'settings.menu.icon'|translate" #iconInput>
          <mat-icon matSuffix>{{iconInput.value}}</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="tooltip" aria-describedby="tooltip" [placeholder]="'settings.menu.tooltip'|translate" #tooltipInput>
          <mat-hint>{{tooltipInput.value | translate}}</mat-hint>
        </mat-form-field>
        <div class="table-update__footer">
          <div class="row">
            <div class="col-12 col-sm-6">
              <button mat-raised-button (click)="isDrawerOpened = false">{{'buttons.cancel'|translate}}</button>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-raised-button class="col-12 col-sm-6" color="primary" type="submit" [disabled]="!menuItemForm.valid">{{'buttons.save'|translate}}</button>
            </div>
          </div>
        </div>
      </form>
    </section>
  </mat-drawer>
  <section class="menu-settings-content">
    <mat-card *ngFor="let menuItem of menuItems |async" (click)="select(menuItem)" class="menu-card" [matTooltip]="menuItem.tooltip|translate">
      <mat-icon class="spacer">{{menuItem.icon}}</mat-icon>
      <mat-card-content>{{menuItem.name|translate}}</mat-card-content>
    </mat-card>
  </section>
</mat-drawer-container>
