@use 'sass:map';
@use '@angular/material' as mat;

@import 'bootstrap/scss/bootstrap-utilities';

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);
  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');
  .edit-table {
    border: solid 1px mat.get-color-from-palette($primary-palette, 500);

    .edit-table__grid {
      .mat-header-row {
        background-color: mat.get-color-from-palette($primary-palette, 500);

        .mat-header-cell {
          color: white;
        }
      }
    }
  }

  .edit-table-drawer-container {
    mat-drawer {
      .table-update {
        .table-update__header {
          color: mat.get-color-from-palette($primary-palette, 500);
        }
      }
    }
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}

.edit-table-drawer-container {
  padding-top: 1em;

  mat-drawer {
    width: 400px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .table-update {
      padding: 1em;

      .table-update__header {
        margin-bottom: 1em;
        padding-bottom: 0.5em;
      }

      .table-update__footer {
        margin: 1em 0;

        button {
          width: 100%;
          margin: 0.3em 0;
        }
      }
    }
  }
}

.edit-table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .edit-table__grid {
    width: 100%;
    table-layout: fixed;
    overflow: auto;

    .mat-header-row {
      .mat-header-cell {
        font-size: 1em;
        cursor: default;

        &.row-action-column {
          padding: 0 0.1em;
          width: 6em;
          text-align: right;
        }
      }
    }

    .mat-cell {
      &.row-action-column {
        padding: 0 0.1em;
        width: 6em;
      }
    }

    .description-col {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto
    }

    .numeric-col {
      width: 7em;
      padding-left: 0;

      &.mat-cell {
        text-align: right;
        padding-right: 1em;
      }

      &.mat-header-cell {
        text-align: center;
        padding-right: 1em;
      }
    }
  }
}
