@import '~bootstrap/scss/bootstrap-utilities';

$JgsCarFixTracker-colors: (
  primary: #7cb342,
  primary-light: #aee571,
  primary-dark: #4b830d,
  notification: #B00020,
  subtle-bg: #EEEEEE,
  default-text: #000000,
  disabled-text: rgb(0, 0, 0, 0.26),
  disabled-bg: rgb(0, 0, 0, 0.12),
  divider: rgb(0, 0, 0, 0.12)
);

.success-notification {
  background-color: map-get($JgsCarFixTracker-colors, primary);
}

.edit-table {
  border: solid 1px map-get($JgsCarFixTracker-colors, primary);

  .edit-table__grid {
    width: 100%;
    table-layout: fixed;

    .mat-header-row {
      background-color: map-get($JgsCarFixTracker-colors, primary);

      .mat-header-cell {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1em;

        &.row-action-column {
          padding: 0 0.1em;
          width: 6em;
          text-align: right;
        }
      }
    }

    .mat-cell {
      color: map-get($JgsCarFixTracker-colors, default-text);

      &.row-action-column {
        padding: 0 0.1em;
        width: 6em;
      }
    }

    .description-col {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto
    }

    .numeric-col {
      width: 7em;
      padding-left: 0;

      &.mat-cell {
        text-align: right;
        padding-right: 1em;
        font-family: 'RobotoMono', sans-serif;
      }

      &.mat-header-cell {
        text-align: center;
        padding-right: 1em;
      }
    }
  }
}

.mat-paginator-container {
  font-family: 'Roboto', sans-serif;

  .mat-paginator-page-size-label, .mat-select-trigger, .mat-paginator-range-label {
    color: map-get($JgsCarFixTracker-colors, default-text);
    font-size: 14px;
  }

  .mat-paginator-range-actions {
    button {
      color: map-get($JgsCarFixTracker-colors, primary);
    }
  }
}

.edit-table-drawer-container {
  padding-top: 1em;
  mat-drawer {
    width: 400px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .table-update {
      padding: 1em;

      .table-update__header {
          border-bottom: 1px solid map-get($JgsCarFixTracker-colors, divider);
          color: map-get($JgsCarFixTracker-colors, primary-dark);
          font-family: 'Roboto', sans-serif;
          margin-bottom: 1em;
          padding-bottom: 0.5em;
        }

      .table-update__footer {
        margin: 1em 0;

        button {
          width: 100%;
          margin: 0.3em 0;
        }
      }
    }
  }
}
