@use '@angular/material' as mat;
@import 'bootstrap/scss/bootstrap-utilities';
@import 'jgs-theme';

.success-notification {
  background-color: mat.get-color-from-palette($JgsCarFixTracker-primary, 500);
}

.edit-table {
  border: solid 1px mat.get-color-from-palette($JgsCarFixTracker-primary, 500);

  .edit-table__grid {
    width: 100%;
    table-layout: fixed;

    .mat-header-row {
      background-color: mat.get-color-from-palette($JgsCarFixTracker-primary, 500);

      .mat-header-cell {
        color: white;
        font-size: 1em;
        cursor: default;

        &.row-action-column {
          padding: 0 0.1em;
          width: 6em;
          text-align: right;
        }
      }
    }

    .mat-cell {
      &.row-action-column {
        padding: 0 0.1em;
        width: 6em;
      }
    }

    .description-col {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto
    }

    .numeric-col {
      width: 7em;
      padding-left: 0;

      &.mat-cell {
        text-align: right;
        padding-right: 1em;
      }

      &.mat-header-cell {
        text-align: center;
        padding-right: 1em;
      }
    }
  }
}

.edit-table-drawer-container {
  padding-top: 1em;

  mat-drawer {
    width: 400px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    .table-update {
      padding: 1em;

      .table-update__header {
        border-bottom: 1px solid lightgray;
        color: mat.get-color-from-palette($JgsCarFixTracker-primary, 500);
        margin-bottom: 1em;
        padding-bottom: 0.5em;
      }

      .table-update__footer {
        margin: 1em 0;

        button {
          width: 100%;
          margin: 0.3em 0;
        }
      }
    }
  }
}
