:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: calc(100vh - 64px);
  overflow: hidden;
}

form {
  flex-grow: 1;
  padding: 0;
}

.actions {
  padding: 0.5em 0;
}

.notifications-table {
  flex: 0 0 40%;

  .scroll-wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.notification-detail{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.notification-selected-section{
  flex-grow: 1;
}

.mat-column-select {
  width: 4em;
}

.mat-column-created {
  width: 7em;
  padding: 0 0.1em;
}

.mat-cell:not(.body-row):not(.no-data) {
  cursor: pointer;
}

tr.body-row {
  height: 0;
}

.body-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.body-content {
  width: 100%;
  padding: 0.5em 0;
}

.body-info {
  margin-top: 0.5em;

  span {
    padding-right: 1em;
  }
}

.preview-content {
  flex: 1 1 auto;
  padding: 1em;
}

.tabs{
  height: 60%;
}

.tab-body {
  overflow: hidden;
}

.insert-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  button {
    margin-right: 0.3em;
    margin-bottom: 0.3em;
  }
}
