<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="container-fluid actions-part-wrapper">
  <h3>{{'auth.resetPassword.title'|translate}}</h3>
  <p class="text-center">{{'auth.resetPassword.content'|translate}}</p>
  <mat-form-field>
    <input matInput type="email" class="formControl" [placeholder]="'auth.email'|translate" aria-describedby="email" formControlName="email" id="email">
    <mat-error *ngIf="form.get('email')?.hasError('email') && !form.get('email')?.hasError('required')">
      {{'validations.emailInvalid'|translate}}
    </mat-error>
    <mat-error *ngIf="form.get('email')?.hasError('required')">
      {{'validations.emailRequired'|translate}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" class="actions-part-button col-6 offset-3" [disabled]="!form.valid">{{'auth.resetPassword.button'|translate}}</button>
  <a routerLink="../sign-in">{{'auth.goBackToSignIn'|translate}}</a>
</form>

