<div class="container-fluid search-panel">
  <div class="row">
    <mat-form-field class="col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput type="text" id="search-text" aria-describedby="search-text"
             [(ngModel)]="searchText" [placeholder]="'cars.detail.licencePlate'|translate"
             (ngModelChange)="onSearchInputChanged($event)"
             autofocus>
      <mat-hint>{{'cars.list.searchHint'|translate}}</mat-hint>
    </mat-form-field>
  </div>
  <div class="d-flex flex-row flex-wrap">
    <mat-card *ngFor="let car of cars | async" (click)="navigate(car.key)" class="car-card d-flex flex-column">
      <mat-card-title>{{car.licencePlate}}</mat-card-title>
      <mat-card-content class="spacer">
        <mat-chip-list>
          <mat-chip *ngIf="car.stk" color="warn" [selected]="carsService.stkIsClose(car)">{{'cars.detail.stk' | translate}} {{car.stk | date}}</mat-chip>
        </mat-chip-list>
        <span>{{car.brand}} {{car.model}}</span>
      </mat-card-content>
      <mat-card-footer>{{car.getLastMileage() | number}} km</mat-card-footer>
    </mat-card>
    <ng-container *ngIf="searchText.length>0 && (!(cars |async) || (cars |async)?.length===0)">
      <div class="not-found">
        {{'errors.noCarsFound'|translate}}
      </div>
    </ng-container>
  </div>
</div>

