<app-notifications-table [selection]="selection" (currentItemChange)="onCurrentItemChanged($event)" [currentItem]="selected"
                         [actions]="adminActions"
                         [detailInfo]="detailInfo">
  <ng-template #detailInfo>
    <div class="notification-table-detail-info" *ngIf="selected!=undefined">
      <div class="d-flex">
        <label>{{'notifications.list.subject'|translate}}:</label>
        <span>{{selected.data.subject}}</span>
      </div>
      <div class="d-flex">
        <label>{{'notifications.list.date'|translate}}:</label>
        <span>{{selected.data.created|notificationDate}}</span>
      </div>
    </div>
  </ng-template>
  <ng-template #adminActions>
    <ng-container *ngIf="selection.selected.length>1">
      <button mat-raised-button (click)="markAllAsRead()" class="notification-table-action-button">
        <mat-icon>checklist</mat-icon>
        <span>{{'notifications.list.markAllAsRead'|translate}}</span>
      </button>
    </ng-container>
    <ng-container *ngIf="selection.selected.length>0">
      <button mat-raised-button (click)="deleteSelection()" class="notification-table-action-button">
        <mat-icon>delete</mat-icon>
        <span>{{'notifications.list.delete'|translate}}</span>
      </button>
    </ng-container>
  </ng-template>
  <div class="notification-body" *ngIf="selected!=undefined">
    <div [innerHTML]="selected.data.body"></div>
  </div>
</app-notifications-table>
