<form [formGroup]="carForm" class="container-fluid form-wrapper" (ngSubmit)="onSubmit()">
  <div class="row car-detail-row">
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
      <input matInput type="text" formControlName="licencePlate" [placeholder]="'cars.detail.licencePlate'|translate" oninput="this.value = this.value.toUpperCase()" [readonly]="!isNew"/>
      <mat-hint *ngIf="isNew">{{'cars.detail.licencePlateHint'|translate}}</mat-hint>
      <mat-hint *ngIf="!isNew">{{'cars.detail.licencePlateReadOnlyHint'|translate}}</mat-hint>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('minlength') && !carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateMinLength'|translate}}
      </mat-error>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('maxlength') && !carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateMaxLength'|translate}}
      </mat-error>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('licenceplatetaken') && !carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateTaken'|translate}}
      </mat-error>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateRequired'|translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row car-detail-row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-row">
      <mat-form-field class="spacer">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" id="brand-search-text" aria-describedby="brand-search-text"
               formControlName="brand"
               [placeholder]="'cars.detail.brand'|translate"
               [matAutocomplete]="autoBrand">
        <mat-icon matSuffix (click)="clearBrandText()" class="active-icon" [matTooltip]="'cars.detail.clearBrand'|translate">cancel</mat-icon>
        <mat-autocomplete #autoBrand="matAutocomplete" [displayWith]="brandDisplayFunction" (optionSelected)="onBrandSelected($event)">
          <mat-option *ngFor="let option of brandOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>{{'cars.detail.brandHint'|translate}}</mat-hint>
      </mat-form-field>
      <ng-container *ngIf="isBrandInEditMode">
        <button mat-icon-button color="accent" (click)="saveBrand(true)" [matTooltip]="'cars.detail.saveBrand'|translate">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="saveBrand(false)" [matTooltip]="'cars.detail.cancelEditBrand'|translate">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isBrandInEditMode">
        <button mat-icon-button color="accent" (click)="editBrand()" [matTooltip]="'cars.detail.editBrand'|translate"
                [disabled]="brandActions['edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addBrand()" [matTooltip]="'cars.detail.addBrand'|translate"
                [disabled]="brandActions['new']">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeBrand()" [matTooltip]="'cars.detail.removeBrand'|translate"
                [disabled]="brandActions['delete']">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-row">
      <mat-form-field class="spacer">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput type="text" id="model-search-text" aria-describedby="model-search-text"
               formControlName="model"
               [placeholder]="'cars.detail.model'|translate"
               [matAutocomplete]="autoModel">
        <mat-icon matSuffix (click)="clearModelText()" [matTooltip]="'cars.detail.clearModel'|translate">cancel</mat-icon>
        <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="modelDisplayFunction" (optionSelected)="onModelSelected($event)">
          <mat-option *ngFor="let option of modelOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>{{'cars.detail.modelHint'|translate}}</mat-hint>
      </mat-form-field>
      <ng-container *ngIf="isModelInEditMode">
        <button mat-icon-button color="accent" (click)="saveModel(true)" [matTooltip]="'cars.detail.saveModel'|translate">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="saveModel(false)" [matTooltip]="'cars.detail.cancelEditModel'|translate">
          <mat-icon>cancel</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isModelInEditMode">
        <button mat-icon-button color="accent" (click)="editModel()" [matTooltip]="'cars.detail.editModel'|translate"
                [disabled]="modelActions['edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="addModel()" [matTooltip]="'cars.detail.addModel'|translate"
                [disabled]="modelActions['new']">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeModel()" [matTooltip]="'cars.detail.removeModel'|translate"
                [disabled]="modelActions['delete']">
          <mat-icon>delete</mat-icon>
        </button>
      </ng-container>
    </div>
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3">
      <input matInput [matDatepicker]="picker" formControlName="stk" [placeholder]="'cars.detail.stkLong'|translate"/>
      <mat-hint>{{'cars.detail.stkHint'|translate}}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="footer row">
    <button mat-raised-button type="submit" color="primary" [disabled]="!carForm.valid">
      <mat-icon>save</mat-icon>
      {{'buttons.save'|translate}}
    </button>
  </div>
</form>
