<form [formGroup]="carForm" class="container-fluid form-wrapper" (ngSubmit)="onSubmit()">
  <div class="row">
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex flex-column">
      <input matInput type="text" formControlName="licencePlate" [placeholder]="'cars.detail.licencePlate'|translate" oninput="this.value = this.value.toUpperCase()" [readonly]="!isNew"/>
      <mat-hint *ngIf="isNew">{{'cars.detail.licencePlateHint'|translate}}</mat-hint>
      <mat-hint *ngIf="!isNew">{{'cars.detail.licencePlateReadOnlyHint'|translate}}</mat-hint>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('minlength') && !carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateMinLength'|translate}}
      </mat-error>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('maxlength') && !carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateMaxLength'|translate}}
      </mat-error>
      <mat-error *ngIf="carForm.get('licencePlate')?.hasError('required')">
        {{'validations.licencePlateRequired'|translate}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3">
      <input matInput type="text" formControlName="brand" [placeholder]="'cars.detail.brand'|translate"/>
      <mat-hint>{{'cars.detail.brandHint'|translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3">
      <input matInput type="text" formControlName="model" [placeholder]="'cars.detail.model'|translate"/>
      <mat-hint>{{'cars.detail.modelHint'|translate}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-3">
      <input matInput [matDatepicker]="picker" formControlName="stk" [placeholder]="'cars.detail.stkLong'|translate"/>
      <mat-hint>{{'cars.detail.stkHint'|translate}}</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="footer row">
    <button mat-raised-button type="submit" color="primary" [disabled]="!carForm.valid">
      <mat-icon>save</mat-icon>
      {{'buttons.save'|translate}}
    </button>
  </div>
</form>
