<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="container-fluid actions-part-wrapper">
  <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-2">
    <input matInput type="password" [placeholder]="'auth.confirmResetPassword.password'|translate" aria-describedby="password" formControlName="password">
    <mat-error *ngIf="passwordError==='minlength'">
      {{'validations.passwordMinLength'|translate}}
    </mat-error>
    <mat-error *ngIf="passwordError==='weakpassword'">
      {{'validations.passwordIsWeak'|translate}}
    </mat-error>
    <mat-error *ngIf="passwordError==='required'">
      {{'validations.passwordRequired'|translate}}
    </mat-error>
  </mat-form-field>
  <app-password-strength-hint [strength]="passwordStrength"></app-password-strength-hint>
  <mat-form-field class="col-12 col-sm-6 col-md-4 col-lg-2">
    <input matInput type="password" [placeholder]="'auth.confirmResetPassword.confirmPassword'|translate" aria-describedby="confirmPassword" formControlName="confirmPassword">
    <mat-error *ngIf="form.hasError('mismatchedpassword')">
      {{'validations.mismatchPasswords'|translate}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid" class="actions-part-button col-12 col-sm-6 col-md-4 col-lg-2">{{'auth.confirmResetPassword.button'|translate}}</button>
</form>
