<form [formGroup]="form" (ngSubmit)="onSubmit()" #formDirective="ngForm" class="container-fluid wrapper">
  <h3>{{'auth.confirmResetPassword.title'|translate}}</h3>
  <mat-form-field>
    <input matInput type="password" [placeholder]="'auth.confirmResetPassword.password'|translate" aria-describedby="password" formControlName="password">
    <mat-error *ngIf="form.get('password')?.hasError('minlength') && !form.get('password')?.hasError('required')">
      {{'validations.passwordMinLength'|translate}}
    </mat-error>
    <mat-error *ngIf="form.get('password')?.hasError('required')">
      {{'validations.passwordRequired'|translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" [placeholder]="'auth.confirmResetPassword.confirmPassword'|translate" aria-describedby="confirmPassword" formControlName="confirmPassword">
    <mat-error *ngIf="form.hasError('mismatchedpassword')">
      {{'validations.mismatchPasswords'|translate}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">{{'auth.confirmResetPassword.button'|translate}}</button>
  <span>{{'auth.goBackTo'|translate}}<a routerLink="../sign-in">{{'auth.signIn.title'|translate}}</a></span>
</form>

