<div class="wrapper">
  <form class="d-flex flex-column" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <h3>{{'auth.signIn.title'|translate}}</h3>
    <mat-form-field>
      <input matInput type="email" [placeholder]="'auth.email'|translate" formControlName="email">
      <mat-error *ngIf="signInForm.get('email')?.hasError('email') && !signInForm.get('email')?.hasError('required')">
        {{'validations.emailInvalid'|translate}}
      </mat-error>
      <mat-error *ngIf="signInForm.get('email')?.hasError('required')">
        {{'validations.emailRequired'|translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [type]="showPassword?'text':'password'" [placeholder]="'auth.password'|translate" formControlName="password">
      <mat-icon matSuffix (click)="showPassword=!showPassword" class="toggle">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="signInForm.get('password')?.hasError('required')">
        {{'validations.passwordRequired'|translate}}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" class="sign-in-button" [disabled]="!signInForm.valid">{{'auth.signIn.button'|translate}}</button>
    <a class="sign-in-forgot-link" routerLink="../forgot-password">{{'auth.forgotPassword.link'|translate}}</a>
  </form>
</div>
