<h2 mat-dialog-title>{{data.title|translate}}</h2>
<mat-dialog-content class="d-flex flex-column">
  <span>{{data.content|translate}}</span>
  <mat-form-field>
    <input matInput [type]="showPassword?'text':'password'" [placeholder]="'auth.password'|translate" [formControl]="password">
    <mat-icon matSuffix (click)="toggleShowPassword()" class="toggle">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.hasError('required')">
      {{'validations.passwordRequired'|translate}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [type]="showNewPassword?'text':'password'" [placeholder]="'auth.confirmResetPassword.password'|translate" [formControl]="newPassword">
    <mat-icon matSuffix (click)="toggleShowNewPassword()" class="toggle">{{showNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="newPassword.hasError('minlength')">
      {{'validations.passwordMinLength'|translate}}
    </mat-error>
    <mat-error *ngIf="newPassword.hasError('weakpassword')">
      {{'validations.passwordIsWeak'|translate}}
    </mat-error>
    <mat-error *ngIf="newPassword.hasError('required')">
      {{'validations.passwordRequired'|translate}}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="spacer"></div>
  <ng-container *ngFor="let action of data.actions">
    <button mat-raised-button [mat-dialog-close]="action.getValue(form.value)" [color]="action.color" [disabled]="getDisabled(action)">{{action.label|translate}}</button>
  </ng-container>
</mat-dialog-actions>
