<mat-toolbar color="primary">
  <button *ngIf="actionsData.backAction" mat-icon-button (click)="backClick()" [matTooltip]="'toolbar.back' | translate">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Car fix tracker</span>
  <span class="spacer"></span>
  <ng-container *ngFor="let action of actionsData.actions">
    <button mat-icon-button [routerLink]="action.route" queryParamsHandling="merge" [queryParams]="action.queryParams"
            [matTooltip]="action.tooltip | translate">
      <mat-icon *ngIf="!action.color" class="material-icons-outlined">{{action.icon}}</mat-icon>
      <mat-icon *ngIf="action.color" [color]="action.color" class="material-icons-outlined">{{action.icon}}</mat-icon>
    </button>
  </ng-container>
  <button *ngIf="actionsData.isMenuAvailable" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="App menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #appMenu>
    <button mat-menu-item routerLink="/settings">
      <mat-icon *ngIf="isSettingsVisible">settings</mat-icon>
      <span>{{'toolbar.settings' | translate}}</span>
    </button>
    <button *ngIf="isLogoutVisible" (click)="signOut()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>{{'toolbar.logout' | translate}}</span>
    </button>
    <mat-divider></mat-divider>
    <div class="version">
      <span [translate]="'toolbar.version_ver'" [translateParams]="{ver: version}"></span>
      <span [translate]="'toolbar.user_usr'" [translateParams]="{usr: user?.displayName??user?.email??'anonymous'}"></span>
    </div>
  </mat-menu>
</mat-toolbar>
<div class="main-layout-content ">
  <router-outlet></router-outlet>
</div>
<app-splash-screen></app-splash-screen>
