.edit-table {
  .edit-table__grid {
    width: 100%;
    table-layout: fixed;

    .mat-header-row {
      .mat-header-cell {
        font-size: 1em;
        cursor: default;

        &.row-action-column {
          padding: 0 0.1em;
          width: 6em;
          text-align: right;
        }
      }
    }

    .mat-cell {
      &.row-action-column {
        padding: 0 0.1em;
        width: 6em;
      }
    }

    .description-col {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto
    }

    .numeric-col {
      width: 7em;
      padding-left: 0;

      &.mat-cell {
        text-align: right;
        padding-right: 1em;
      }

      &.mat-header-cell {
        text-align: center;
        padding-right: 1em;
      }
    }
  }
}
