<form class="container-fluid wrapper" [formGroup]="forgotPasswordForm" #formDirective="ngForm">
  <h3>{{'auth.resetPassword.title'|translate}}</h3>
  <p class="text-center">{{'auth.resetPassword.content'|translate}}</p>
  <mat-form-field>
    <input matInput type="email" class="formControl" [placeholder]="'auth.email'|translate" aria-describedby="email" formControlName="email" id="email">
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email') && !forgotPasswordForm.get('email')?.hasError('required')">
      {{'validations.emailInvalid'|translate}}
    </mat-error>
    <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
      {{'validations.emailRequired'|translate}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" class="reset-button col-6 offset-3" [disabled]="!forgotPasswordForm.valid">{{'auth.resetPassword.button'|translate}}</button>
  <span>{{'auth.goBackTo'|translate}}<a routerLink="../sign-in">{{'auth.signIn.title'|translate}}</a></span>
</form>

