:host {
  padding: 1em;
}

.jgs-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.jgs-theme-picker{
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}
