:host {
  cursor: pointer;
}

.borderedItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: lightgray 0.1em solid;
  border-radius: 0.5em;
  padding-right: 1em;
  flex-grow: 0;
  margin-bottom: 0.5em;
}

.itemIcon {
  margin: 0 0.5em;
  font-size: 2em;
}

.licencePlate {
  font-weight: bold;
  flex-grow: 1;
  margin-right: 0.5em;
}

@media (max-width: 800px) {
  :host {
    min-height: 5em;
  }
}
