<div class="d-flex flex-row justify-content-between car-fix-header">
  <div>Fixes:</div>
  <app-icon-button (click)="onAddNew()">
    <i class="fas fa-plus"></i>
  </app-icon-button>
</div>

<table>
  <thead>
    <tr class="d-md-table-row d-none">
      <th class="col-md-2">Date</th>
      <th class="col-md-2">Mileage</th>
      <th class="col-md-7">Description</th>
      <th class="col-md-1">Action</th>
    </tr>
    <tr class="d-sm-table-row d-md-none">
      <th class="col-4">Mileage</th>
      <th class="col-6">Description</th>
      <th class="col-2">Action</th>
    </tr>
  </thead>

  <tr *ngFor="let fix of fixes; index as i" app-car-fix-item
      [fix]="fix" [fixIndex]="i" [editedIndex]="editedIndex"
      (editFix)="onEditFixItem($event)"
      (saveFix)="onSaveFixItem($event)"></tr>
</table>
