:host {
}

.row {
  margin-bottom: 0.5em;
}

table {
  width: 100%;
}

th {
  border-bottom: 2px solid #ddd;
}

td {
  border-bottom: 1px solid #ddd;
  width: max-content;
  align-content: stretch;
}

i {
  cursor: pointer;
  border-radius: 0.3em;
}

i:hover {
  background: lightgray;
}

.first-column {
  width: 10em;
}

.last-column {
  width: 1em;
}

.car-fix-header {
  margin: 0.5em 0;
}

.add-fix {
  border: 1px solid gray;
  padding: 0.2em;
}
