<mat-drawer-container class="edit-table-drawer-container h-100">
  <mat-drawer mode="over" position="end" #table_update_drawer
              [opened]="isDrawerOpened"
              disableClose="true">
    <section class="table-update">
      <form class="table-update__form"
            [formGroup]="fixItemUpdateForm"
            (ngSubmit)="updateTableData()"
            #formDirective="ngForm">
        <header class="table-update__header">
          <h3 class="h3">{{isNewRowBeingAdded ? 'Add New' : 'Edit'}} Row</h3>
        </header>
        <div class="table-update__fields">
          <div class="row">
            <mat-form-field>
              <input matInput type="date" formControlName="lastUpdate" aria-describedby="last-update" placeholder="Last update">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" formControlName="mileage" min="0" aria-describedby="mileage" placeholder="Mileage">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field>
              <input matInput type="text" formControlName="description" required aria-describedby="description" placeholder="Description">
            </mat-form-field>
          </div>
        </div>
        <footer class="table-update__footer">
          <div class="row flex-column-reverse flex-sm-row">
            <div class="col-12 col-sm-6">
              <button mat-raised-button
                      style="margin: 0.3em"
                      color="warn"
                      (click)="isDrawerOpened = false">Dismiss
              </button>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-raised-button
                      style="margin: 0.3em"
                      color="primary"
                      type="submit"
                      [disabled]="!fixItemUpdateForm.valid">Save
              </button>
            </div>
          </div>
        </footer>
      </form>
    </section>
  </mat-drawer>
  <mat-drawer-content class="container-fluid">
    <div class="row">
      <mat-form-field class="col-12 col-md-6 col-lg-4">
        <input matInput type="text" readonly="true" [(ngModel)]="car.licencePlate" name="licence-place" placeholder="Licence plate"/>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12 col-md-6 col-lg-4">
        <input matInput type="text" readonly="true" name="brand" [(ngModel)]="car.brand" placeholder="Brand">
      </mat-form-field>
      <mat-form-field class="col-12 col-md-6 col-lg-4">
        <input matInput type="text" readonly="true" name="model" [(ngModel)]="car.model" placeholder="Model">
      </mat-form-field>
    </div>
    <app-edit-table
      [table_config]="tableConfig"
      (onRowAdd)="addNewRow()"
      (onRowEdit)="editRow($event)"
      (onRowRemove)="removeRow($event)">
    </app-edit-table>
  </mat-drawer-content>
</mat-drawer-container>
