<div class="container">
  <div class="row">
    <mat-form-field class="col-12 col-md-6 d-flex flex-column">
      <input matInput type="text" readonly="true" [(ngModel)]="car.licencePlate" name="licence-place" placeholder="Licence plate"/>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-12 col-md-6">
      <input matInput type="text" readonly="true"  name="brand" [(ngModel)]="car.brand" placeholder="Brand">
    </mat-form-field>
    <mat-form-field class="col-12 col-md-6">
      <input matInput type="text" readonly="true"  name="model" [(ngModel)]="car.model" placeholder="Model">
    </mat-form-field>
  </div>
  <div class="row">
    <app-car-fix-list [fixes]="car.fixes" [editedFixId]="editedFixId"
                      (fixAction)="onFixAction($event)"></app-car-fix-list>
  </div>
</div>
