// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$JgsCarFixTracker-primary: mat.define-palette(mat.$indigo-palette);
$JgsCarFixTracker-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$JgsCarFixTracker-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$JgsCarFixTracker-theme: mat.define-light-theme((
  color: (
    primary: $JgsCarFixTracker-primary,
    accent: $JgsCarFixTracker-accent,
    warn: $JgsCarFixTracker-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($JgsCarFixTracker-theme);

$JgsCarFixTracker-colors: (
  primary: #7cb342,
  primary-light: #aee571,
  primary-dark: #4b830d,
  notification: #B00020,
  subtle-bg: #EEEEEE,
  default-text: #000000,
  disabled-text: rgb(0, 0, 0, 0.26),
  disabled-bg: rgb(0, 0, 0, 0.12),
  divider: rgb(0, 0, 0, 0.12)
);

.edit-table {
  border: solid 1px map-get($JgsCarFixTracker-colors, primary);

  .edit-table__grid {
    width: 100%;

    .mat-header-row {
      background-color: map-get($JgsCarFixTracker-colors, primary);

      .mat-header-cell {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
      }
    }

    .mat-cell {
      color: map-get($JgsCarFixTracker-colors, default-text);

      &.row-action-column {
        padding: 0 8px 0 1.5rem;
        width: 72px;
      }
    }

    .numeric-col {
      &.mat-cell, &.mat-header-cell {
        text-align: right;
        padding-right: 1.5rem;
      }

      &.mat-cell {
        font-family: 'RobotoMono', sans-serif;
      }
    }

    .hidden-col {
      display: none;
    }
  }

  .edit-table__add {
    display: flex;
    justify-content: flex-end;
    padding: 10px 8px 0;
  }

  .edit-table__action-button {
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: map-get($JgsCarFixTracker-colors, primary);
    height: 40px;
    padding: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      background: map-get($JgsCarFixTracker-colors, disabled-bg);
    }

    &:hover {
      background: transparent;
    }

    &:focus, &:hover {
      color: map-get($JgsCarFixTracker-colors, primary);
    }
  }

  .edit-table__action-button-add {
    background: transparent;
    border-radius: 50%;
    border: 0;
    color: white;
    height: 40px;
    padding: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      background: map-get($JgsCarFixTracker-colors, disabled-bg);
    }

    &:hover {
      background: map-get($JgsCarFixTracker-colors, divider);
    }

    &:focus, &:hover {
      color: map-get($JgsCarFixTracker-colors, primary);
    }
  }

  .edit-table__action-button-remove {
    background: transparent;
    border: 0;
    border-radius: 50%;
    color: map-get($JgsCarFixTracker-colors, notification);
    height: 40px;
    padding: 0;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:focus {
      background: map-get($JgsCarFixTracker-colors, disabled-bg);
    }

    &:hover {
      background: transparent;
    }

    &:focus, &:hover {
      color: map-get($JgsCarFixTracker-colors, notification);
    }
  }
}

.mat-paginator-container {
  font-family: 'Roboto', sans-serif;

  .mat-paginator-page-size-label, .mat-select-trigger, .mat-paginator-range-label {
    color: map-get($JgsCarFixTracker-colors, default-text);
    font-size: 14px;
  }

  .mat-paginator-range-actions {
    button {
      color: map-get($JgsCarFixTracker-colors, primary);
    }
  }
}

.edit-table-drawer-container {
  mat-drawer {
    .table-update {
      padding: 1rem 2rem;

      .table-update__header {
        h2 {
          border-bottom: 1px solid map-get($JgsCarFixTracker-colors, divider);
          color: map-get($JgsCarFixTracker-colors, primary-dark);
          font-family: 'Roboto', sans-serif;
          margin-bottom: 1rem;
          padding-bottom: 0.5rem;
        }

        margin-bottom: 2rem;
      }

      .table-update__footer {
        margin: 1.5rem 0;
        //@include media-breakpoint-down(sm) {
        //  margin: 1rem 0;
        //}
        button {
          width: 100%;
        }
      }
    }
  }
}
