@import "styles/jgs-theme.scss";

html, body {
  height: 100%;
  min-height: 480px;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

.spacer {
  flex: 1 1 auto
}

.active-icon {
  cursor: pointer;
}

@media print {
  .isPrinting app-layout {
    display: none
  }
  .isPrinting app-print-layout {
    display: block;
  }
}
