@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

@import "styles/jgs-theme.scss";
@import "styles/edit-table.styles.scss";

html, body {
  height: 100%;
  min-height: 480px;
  min-width: 320px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer{
  flex: 1 1 auto
}
