:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.main-layout-content {
  flex-grow: 1;
  display: flex;
}

.version {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.3em 1em;
  font-size: 0.8em;
  color: lightgray;
}

.spacer-content {
  text-align: center;
}

.notifications-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 1em 0 1em;
}

.notifications-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
}

.mat-menu-item{
  &.mat-icon{
    &.notification-item-icon{
      margin-right: 0;
    }
  }
}
