:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.main-layout-content {
  flex-grow: 1;
  display: flex;
}

.version {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.3em 1em;
  font-size: 0.8em;
  color: lightgray;
}

.spacer-content {
  text-align: center;
}

.notifications-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.3em 6px 0 1em;
}

.notifications-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em 1em;
}

.mat-menu-item {
  &.notification {
    padding: 0 0 0 16px;
  }

  .notification-item-icon {
    margin-right: 0;
  }
}

.live-notification {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  align-items: center;
  cursor: pointer;
  .live-notification-body{
    padding-left: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
