:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.main-layout-content {
  flex-grow: 1;
  display: flex;
}

.version {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0.3em 1em;
  font-size: 0.8em;
  color: lightgray;
}

.spacer-content {
  text-align: center;
}

.notifications-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1em;
}

.mark-unread{
  margin: 0.5em 0.6em 0.5em 0.5em;
}
